*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Gasoek One', sans-serif;
}

.cabeçalho {
    background-color: #E10A0A;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 05%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    position: absolute;
    right: 25px;
    width: 25%;
}
.escola{
    background-image: linear-gradient(#E10A0A , #021D63);
    color:white;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 30px;
}

.escola-div-conteudo{
width: 35%;

}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px ;

}

.estudante-icone{
    width: 24px; ;
}

.estudante-div{
    text-align: center;
}